* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
a,a:link,a:hover,a:active,a:visited,a:focus {
    text-decoration: none;
    color: #009966;
    outline: none;
}
li {
    list-style: none;
}

body {
    width: 510px;
    height: 245px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font: 16px/1.4 arial,helvetica,sans-serif;
}
#fm-player {
    height: inherit;
}
.album-pic {
    overflow: hidden;
    width: 245px;
    height: 245px;
    float: left;
    zoom: 1;
}
#player-panel {
    overflow: hidden;
    height: inherit;
    padding: 30px 20px;
    position: relative;
}
.pause {
    height: 26px;
    width: 26px;
    position: absolute;
    right: 10px;
    top: 0;
    background: url("../douban/style.png") -92px -64px no-repeat;
}

#info .song {
    font-size: 14px;
    margin-top: 18px;
}
#info .singer {
    font-size: 20px;
    font-weight: 300;
}
#info .album {
    font-size: 10px;
    font-weight: 100;
}
.album .album-name:after {
    content: " > ";
}
.album .album-name:before {
    content: "< ";
}
progress::-webkit-progress-bar {
    background: #E5E5E8;
}
progress::-webkit-progress-value {
    background: #9DD6C5;
}
progress {
    height: 2px;
    width: 100%;
    vertical-align: top;
    margin-top: 5px;
}
.time {

}
